.spanSize{
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 20px;
}
.card{
  background-color:white;
  border-radius: 20px;
  height: 50px;
}
.imgSize{
  flex: 1;
  height: 100%;
  flex-wrap: wrap;
  width: 100vw;
  position: relative;
  overflow: hidden;
  word-break: break-word;
}
.fontSize{
  font-size:x-large
}
div{
  font-family: 'Acme'," sans-serif,";
}
.titleLine{
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
}
.border{
  border: 1px solid gray;
}
.imgMar{
  margin-top: 40px;
  margin-bottom: 40px;
}
.size{
  width: 18rem;
  height: 300px;
}
.desLine{
  display: -webkit-box;
  -webkit-line-clamp:4;
  -webkit-box-orient:vertical;
  overflow:hidden;
 }
 .button{
  float: right;
  margin-bottom: 100px;
 }
 .imgShow{
  flex: 1;
   border-radius: 20px;
   object-fit: cover ;
   width:50%;
  height:100%;
 }
 .pStyle{
  position: relative;
   flex: 1;
   margin-left:20px;
 }

